.productDetailContainer {
	display: flex;
	justify-content: space-evenly;
}

.productDetail {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: large;
	margin-top: 8rem;
}

.disponible {
	margin-top: 1rem;
	margin-left: 12.5rem;
	font-size: small;
	padding: 0.5rem;
	background-color: rgb(184, 187, 190);
	border-radius: 0;
}

.textCard {
	display: inline;
}

.priceCard {
	color: rgb(7, 71, 155);
}

.countProductCenter {
	margin: 12rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.seguir {
	margin-top: 10rem;
	margin-right: 2rem;
	font-size: 18px;
	font-weight: 500;
	padding: 0.5rem;
	color:whitesmoke;
	background-color: black;
	border-radius: 8px;
}

.seguir:hover {
	border: 2px solid gray;
}

.seguir:active {
	border: 2px solid rgb(4, 27, 23);
	font-weight: 700;
}
.seguirinicio {
	margin-top: 1rem;
	margin-right: 2rem;
	font-size: 18px;
	padding: 0.5rem;
	color:whitesmoke;
	background-color: black;
	border-radius: 8px;

}
.finalizar {
	margin-top: 15rem;
	margin-right: 1rem;
	padding: 0.5rem 1rem;
	font-size: 18px;
	color: whitesmoke;
	font-weight: 500;
	border-radius: 8px;
	background-color: black
	
}

.finalizar:hover {
	border: 2px solid gray;
}

.finalizar:active {
	border: 2px solid rgb(18, 37, 71);
	font-weight: 700;
}