.navbar-container {
	display: flex;
	justify-content: space-evenly;
	background-color:black;
	height: 6rem;
	border-bottom: 2px solid rgb(0, 2, 7);
}

.navbar-titulo {
	margin-top: 5%;
	margin-left: 1rem;
	padding-bottom: 2rem;
	color: whitesmoke;
	font-size: 2rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-decoration: none;
}

.navbar-list {
	align-items: flex-end;
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-right: 15rem;
	margin-bottom: 0%;
}

.navbar-item-link {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: white;
}
.logo{
	width: 6rem;
	height: 6rem;
	display: flex;
	
}
   
