.navbar-container {
	display: flex;
	justify-content: space-evenly;
	background-color: rgb(45, 45, 46);
	height: 5rem;
	border-bottom: 2px solid rgb(0, 2, 7);
}

.navbar-titulo {
	margin-left: 1rem;
	padding-bottom: 2rem;
	color: whitesmoke;
	font-size: 2rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-decoration: none;
}

.navbar-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-right: 19rem;
	margin-bottom: 2rem;
}

.navbar-item-link {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: white;
}
